

<style>
    .container{
        width:500px;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<div class="container">
    <canvas id="mychart"></canvas>
</div>

<script>
    var ctx = document.getElementById("mychart"),
        mychart = new Chart(ctx, {
            type: "doughnut", // 圖表類型
            data: {
                labels: ['Test1', 'Test2', 'Test3'], // 標題
                datasets: [{
                    label: "# myLabel", // 標籤
                    data: [20, 16, 32], // 資料
                    backgroundColor: [  // 顏色
                        "LightSkyBlue",
                        "LightPink",
                        "LightGray"
                    ],
                }]
            },
        });

</script>