@model IEnumerable<chart0302.Models.stocks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<form method="post" action="/stocks/chart">
    <div>
        <input type="text" name="stockID" />
        <button type="submit">Submit</button>
    </div>
</form>


